#root {
    -fx-background-color: transparent;
}

#aPane_root {
    -fx-background-image: url("../images/PanelBackground.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 262 66;
    -fx-background-position: center center;
    -fx-background-color: transparent;
}

.button-unit {
    -fx-background-image: url("../images/ButtonLink.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50 50;
    -fx-background-position: 0 0;

    -fx-prev-width: 50;
    -fx-prev-height: 50;
    -fx-padding: 0 0 0 0;

    -fx-border-insets: 0;
    -fx-border-radius: 0;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}









